body{
				font-family: arial,sans-serif;
			}

			
			h1{
				color: red;
			}
			

			h2{
				color: brown;
			}
			

			p{
				color: red;
				border-style: solid;
				border-width: 5px;
				border-top-color: yellow;
			}


			a{
				text-decoration: none;
				background-color: lightgrey;
			}